.accordion-btn {
    padding: var(--p-2);
    width: 100%;

    background-color: var(--clr-secondary-dark);
    color: var(--clr-primary-light);
    cursor: pointer;
    transition: 0.4s;
}
.active, .accordion-btn:hover {
    background-color: var(--clr-shadow);
}

.accordion-content {
    display: none;
    overflow: hidden;
    
    padding: 0 var(--p-2);
    transition: 0.4s;
}