<nav class="snav">
    <ul>
        <li>
            <a href="{{ url_for('blueprint.user_account_list') }}">Home | Users</a>
        </li>
        <li>
            <a href="{{ url_for('blueprint.list_profiles') }}">Profiles</a>
        </li>
        <li>
            <a href="index.php?page=contact">Roles</a>
        </li>
        <!-- <li>
            <a href="{{ url_for('blueprint.grant_privs_user_list') }}">Privs</a>
        </li> -->
        <li>
            <a href="{{ url_for('blueprint.list_users') }}">Company</a>
        </li>
    </ul>
</nav>