{% extends "base_with_snav.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <style>
        .row { display: flex; }
        .column { flex: 50%; padding: 10px; }
        .apply-btn {             
            width: 100%; 
            padding: var(--p-2) 20px; 
            background-color: var(--clr-primary-blue);
            color: var(--clr-primary-light);
            cursor: pointer; 
            opacity: 0.9; 
            transition: 0.3s;
        }
        .apply-btn:hover { opacity: 1; }
        h3, h2 { font-weight: bold; }
    </style>
{% endblock %}
{% block content_side_nav %}
    {% include "snav_user.html"%}
{% endblock %}

{% block content_main %}
    <h2 style="text-transform:uppercase;">{{grantee}} 's privs:</h2>
    <div class="row">
        <div class="column">
            <h3>Sys Privs</h3>
            {% for grantee_sys_priv in grantee_sys_privs_granted_list %}
                <div>
                    <span class="tab_priv">{{ grantee_sys_priv }}</span>
                    <input checked type="checkbox" value="{{ grantee_sys_priv }}" class="priv"></input>
                    <!-- With grant checkbox (will be create in js), if this is checked, user can grant this privs to other user -->
                </div>
            {% endfor %}
            {% for grantee_sys_priv_not_granted in grantee_sys_privs_not_granted_list %}
                <div>
                    <span class="tab_priv">{{ grantee_sys_priv_not_granted }}</span>
                    <input type="checkbox" value="{{ grantee_sys_priv_not_granted }}" class="priv"></input>
                    <!-- With grant checkbox (will be create in js), if this is checked, user can grant this privs to other user -->
                </div>
            {% endfor %}
        </div>
        <div class="column">
            <h3>Obj Privs</h3>
            {% for grantee_tab_priv in grantee_tab_privs_granted_list %}
                <div>
                    <span class="tab_priv">{{ grantee_tab_priv }}</span>
                    <input checked type="checkbox" value="{{ grantee_tab_priv }}" class="priv"></input>
                    <!-- With grant checkbox (will be create in js), if this is checked, user can grant this privs to other user -->
                </div>
            {% endfor %}
            {% for grantee_tab_priv_not_granted in grantee_tab_privs_not_granted_list %}
                <div>
                    <span class="tab_priv">{{ grantee_tab_priv_not_granted }}</span>
                    <input type="checkbox" value="{{ grantee_tab_priv_not_granted }}" class="priv"></input>
                    <!-- With grant checkbox (will be create in js), if this is checked, user can grant this privs to other user -->
                </div>
            {% endfor %}
        </div>        
    </div>
    <div style="width: 80%; margin: auto; ">
        <button class="apply-btn">Apply</button>
    </div>
    <br>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function applySelectedPrivs() {
            let all_checked_privs_with_grant_option = [];
            let all_checked_privs = [];
            let all_user_priv_checked_checkboxs = document.querySelectorAll('input.priv[type="checkbox"]:checked');
            //next sibling combinator +
            let all_user_priv_with_grant_option_checkboxs = document.querySelectorAll('input.priv[type="checkbox"]:checked + input.grant_option[type="checkbox"]:checked');
            all_user_priv_checked_checkboxs.forEach(function(checkbox) {
                all_checked_privs.push(checkbox.value);
            });
            all_user_priv_with_grant_option_checkboxs.forEach(function(grant_checkbox) {
                all_checked_privs_with_grant_option.push(grant_checkbox.value); //the value is the priv name that user can grant to other user
            });
            console.log(all_checked_privs);
            console.log("all_checked_privs_with_grant_option", all_checked_privs_with_grant_option);
            fetch("http://localhost:5000/grant_priv_user_update", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "username": "{{grantee}}",
                    "all_checked_privs": all_checked_privs,
                    "all_checked_privs_with_grant_option": all_checked_privs_with_grant_option
                })
            }).then(function(response) {
                alert("Privs Updated");
                // return response.json(); //the data to function(data)
            })
            // .then(function(data) {
            //     console.log(data);
            // });
        }

        //for all priv checkboxes, create grant option checkbox
        let all_user_priv_checkboxes = document.querySelectorAll('input.priv[type="checkbox"]'); 

        // pass flask dict to js: https://stackoverflow.com/a/45132694
        let priv_with_grant_option_lookup_dict = JSON.parse('{{ priv_with_grant_option_lookup_dict | tojson}}');
        console.log(priv_with_grant_option_lookup_dict);
        all_user_priv_checkboxes.forEach(function(privilege_checkbox) {
            //create grant option checkbox and append it after priv checkbox
            let grant_option_checkbox = document.createElement('input');
            grant_option_checkbox.setAttribute('type', 'checkbox');
            grant_option_checkbox.setAttribute('value', privilege_checkbox.value);
            grant_option_checkbox.setAttribute('class', 'grant_option');
            grant_option_checkbox.innerHTML = "With Grant Option";
            //check if this priv has grant option, if it is, the grant option checkbox is checked
            if (priv_with_grant_option_lookup_dict[privilege_checkbox.value] == 'YES') {
                grant_option_checkbox.checked = true;
            } else {
                grant_option_checkbox.checked = false;
            }

            privilege_checkbox.insertAdjacentElement('afterend', grant_option_checkbox);
            //to debug
            grant_option_checkbox.addEventListener('click', function() {
                let privilege = privilege_checkbox.value;
                let grant_option = grant_option_checkbox.checked;
                console.log("Priv:" + privilege);
                console.log("Is Granted:" + grant_option);
            });
            
            //if priv checkbox is checked, show grant option checkbox, otherwise hide it
            if (privilege_checkbox.checked) {
                grant_option_checkbox.style.display = "inline";
            } else {
                grant_option_checkbox.style.display = "none";
            }

            //toggle grant option checkbox when toggle priv checkbox
            privilege_checkbox.addEventListener('click', function() {
                let privilege = privilege_checkbox.value;

                let grant_option_checkbox = privilege_checkbox.nextElementSibling;
                if (privilege_checkbox.checked) { 
                    //clicked to check this priv checkbox
                    grant_option_checkbox.style.display = "inline";
                    //to debug
                    console.log("To grant:" + privilege);
                    console.log("Priv current grant status:" + grant_option_checkbox.checked)
                } else {
                    //clicked to uncheck this priv checkbox
                    grant_option_checkbox.checked = false;
                    grant_option_checkbox.style.display = "none";
                    //to debug
                    console.log("To be removed: " + privilege);
                    console.log("Priv current grant status:" + grant_option_checkbox.checked)
                }
            });
        });
        
        document.querySelector('button.apply-btn').addEventListener('click', applySelectedPrivs);
    </script>
{% endblock %}