{% extends "base_with_snav.html"%}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}
{% block content_side_nav %}
    {% if auth_manager.is_dba %}
        {% include 'snav_admin.html' %}
    {% else %}
        {% include 'snav_user.html' %}
    {% endif %}    
{% endblock %}
{% block content_main %}
    <button>
        <a href="{{url_for('blueprint.user_account_create')}}">
         <i class="fas fa-plus"></i> Add User Account
        </a>
    </button>
    <table>
        <tr>
            <th>Account Name</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
        {% for user_account in user_account_tuple_list %}
            <tr>
                <td>{{ user_account[1] }}</td>
                <td>{{ user_account[2] }}</td>
                <td><a href="{{ url_for('blueprint.user_account_delete', userid=user_account[0]) }}">
                    <i class="fas fa-trash"></i> - Delete
                </a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}